* {
    scroll-behavior: smooth;
}

.Port .container {
    display: flex;
    direction: ltr;
    height: 50vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.portfolio .container{
    width: 100%;
   
}   

/* ------------------------------------------------------------ */
.photo {
    background: white;
    min-height: 150vh;
    width: 100%;
    padding: 20px 0;
}

.photo .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transform: translateX(-30px) !important;

}

.photo .container img {
    width: 25em;
    height: 40em;
    margin-right: 5px;
    margin-top: 14px;
    transition: 1s ease;
    border-radius: 20px;
    object-fit: cover;

}
.photo .container img:hover {
    scale: .9;
    box-shadow: 15px 10px 40px #1B1C18;
    cursor: pointer;
   
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    height: 200px;
}
.photo .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
 
#colum{
   display: flex;
   
}